:host {
    display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1;
}


wmd-footer.container {
    width: 100% !important;
    max-width: unset !important;
}


nav {
    background-color: transparent;
    
    a {
        color: white !important;
    }

    :hover {
        color: black !important;
    }
}
